/*general*/
*{
        margin: 1;
        box-sizing: border-box;
    }

@font-face {
        font-family: msGothic;
        src: url("fonts/MS Gothic.ttf");
    }
    
body{
    font-family: msGothic;
    padding-top: 25px;
    padding-right: 200px;
    padding-left: 200px;
}

/*grid design elements*/

.grid-container{
    display: grid;
    grid-template-areas:
        'header header header header header header header'
        'menu . main main main . right'
        'footer footer footer footer footer footer footer';
    column-gap: 20px;
    background-color: white;
}

.item1{
    text-align: center;
    grid-area: header;
}

.navbar {
    grid-area: menu;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    width: 200px;
    background-color: #ffffff;
}

.navbar li a {
    display: block;
    color: black;
    padding: 8px 0px;
    text-decoration: none;
    border-bottom: 1px dotted black;
}

.navbar li a:hover {
    background-color: #555555;
    color: white;
}

.item3 {
    text-align: center;
    grid-area: main;
}

.item4 {
    min-width: 200px;
    grid-area: right;
}

.item5 {
    min-width: 700px;
    padding-left: 22%;
    padding-right: 22%;
    grid-area: main;
}

.blogPost {
    min-width: 550px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 50px;
    text-align: left;
    grid-area: main;
}

/*jackychang.ca header text + image*/
header{
    text-align: center;
}

.header img{
    float: left;
    width: 30px;
    height: 30px
}

/*contentBar*/
.contentBar{
    list-style-type: none;
    font-size: 13px;
    padding: 0;
    width: 150px;
}

/*to be reworked (the other stuff)*/
#centered{
    text-align: center;
}

.dotted{
    border-style: dotted;
}

/* paint gallery related*/
div.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.gallery-item {
    margin: 5px;
    border: 1px solid #ccc;
    width: 460px; /*45%*/
}

div.gallery-item:hover {
    border: 1px solid #777;
}

div.gallery-item img {
    width: 100%;
    height: auto;
}

div.gallery-item div.desc {
    padding: 15px;
    text-align: center;
}

div.sticky {
    position: sticky;
    top: 0;
}

#date{
    text-align: left;
    font-size: small;
}

.divider {
    font-size: 20px;
    display: flex;
    align-items: center;
}

.divider::before{
    flex: 0.10;
    content: '';
    padding: 2px;
    background-color: black;
    margin-right: 8px;
}

.divider::after{
    flex: 1;
    content: '';
    padding: 2px;
    background-color: black;
    margin-left: 8px;
}

.confettiLauncher{
    cursor: pointer;
}

/*character cards*/
.card {
    width: 25%;
    min-width: 150px;
    border: 1px solid #ccc;
    margin: 5px;
}

.card:hover {
    border: 1px solid #777;
}

.card p{
    margin-left: 2px;
    margin-right: 2px;
}

.content{
    box-sizing: border-box;
    flex: 1;
    padding: 7px;
}

.hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("images/characters/cleftwithahat.png");
    height: 50%;
    max-height: 240px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-imageP{
    background-image: url("images/characters/pitchwithoutahat.png");
    height: 50%;
    max-height: 240px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: dotted black 1px;
}

.container {
    border: 1px solid #777;
    background-color: #f1f1f1;
    padding: 10px;
    margin: 15px 0;
    font-size: 125%;
    text-align: left;
    max-width: 500px;
}

.container.center{
    max-height: 50px;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container img {
    float: left;
    max-width: 100px;
    width: 100%;
    margin-right: 20px;
}

.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
    transform: scaleX(-1);
}

/*image containers*/
.image-container {
  border: 1px dotted black;
  margin-bottom: 25px;
  margin-right: 25px;
  aspect-ratio: 1/1;
  position: relative;
}

.image-container.compare{
    aspect-ratio: 2.4/1;
    width: 100%;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.row {
  display: flex;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  transition: .1s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.image-container:hover .overlay {
  opacity: 1;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  padding: 5px;
}

.restrictLol{
    min-width: 700px;
}

/*collapsible*/
details {
  user-select: none;
  margin-bottom: 10px;
}

details>summary span.icon {
  width: 24px;
  height: 24px;
  margin-left: auto;
}

details[open] summary span.icon {
  transform: rotate(180deg);
}

summary {
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 1px solid #777;
}

summary>h2{
    margin-left: auto;
}

summary::-webkit-details-marker {
  display: none;
}